:host {
  a#kt_login_password_reset_form_cancel_button {
    background: darkslategrey;
    color: white;
}

a#kt_login_password_reset_form_cancel_button:hover,:active,:focus {
  background: white;
  color: darkslategrey;
} 
  width: 100%;
  @media (min-width: 992px) {
    .login-form {
      width: 100%;
      max-width: 450px;

      .mat-form-field {
        width: 100%;
      }
    }
  }
}
