<form
  class="form w-100"
  novalidate="novalidate"
  [formGroup]="forgotPasswordForm"
  (ngSubmit)="submit()"
  id="kt_login_password_reset_form"
>
  <!--begin::Heading-->
  <div class="text-center mb-10">
    <!--begin::Title--> 
    <h1 class="text-dark fw-bolder mb-3">
        Mot de passe oublié ?
    </h1>
    <!--end::Title-->

    <!--begin::Link-->
    <div class="text-gray-500 fw-semibold fs-6">
        Enter votre numero pour reinitialiser le mot de passe.
    </div>
    <!--end::Link-->
</div>
<!--begin::Heading-->

  <!-- begin::Alert error-->
  <ng-container *ngIf="errorState === errorStates.HasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        Desolé, votre email n'est pas enregistrer
      </div>
    </div>
  </ng-container>
  <!-- end::Alert error-->

  <ng-container *ngIf="ErrorSubmitted === 'good'">
    <div class="mb-10 bg-light-info p-8 rounded">
      <!--begin::Body-->
      <div class="text-info">Vous avez reçu un code, regardez votre mail.</div>
      <!--end::Body-->
    </div>
  </ng-container>

  <ng-container *ngIf="ErrorSubmitted === 'true'">
    <div class="mb-10 bg-light-info p-8 rounded">
      <!--begin::Body-->
      <div class="text-info"style="color: red !important;"> {{message}}</div>
      <!--end::Body-->
    </div>
  </ng-container>

  <ng-container *ngIf="ErrorSubmitted === 'notvalide'">
    <div class="mb-10 bg-light-info p-8 rounded">
      <!--begin::Body-->
      <div class="text-info"style="color: red !important;"> {{message}}</div>
      <!--end::Body-->
    </div>
  </ng-container>

  <ng-container *ngIf="ErrorSubmitted === 'valide'">
    <div class="mb-10 bg-light-info p-8 rounded">
      <!--begin::Body-->
      <div class="text-info"style="color: green !important;"> {{message}}</div>
      <!--end::Body-->
    </div>
  </ng-container>
  <div class="fv-row mb-8" *ngIf="ErrorSubmitted === 'good'">
    <label class="form-label fw-bolder text-gray-900 fs-6">Code de validation</label>
      
      <input
      class="form-control bg-transparent"
      type="email"
      formControlName="code"
      placeholder="Code de validation"
      name="code"
      autocomplete="off"
      [ngClass]="{
        'is-invalid': forgotPasswordForm.controls['email'].invalid,
        'is-valid': forgotPasswordForm.controls['email'].valid
      }"
    />
    
  </div>
  <div class="fv-row mb-8" *ngIf="ErrorSubmitted !== 'good'">
    <label class="form-label fw-bolder text-gray-900 fs-6">Numero</label>
      <!--
      <input
      class="form-control bg-transparent"
      type="email"
      formControlName="email"
      placeholder="Email"
      name="email"
      autocomplete="off"
      [ngClass]="{
        'is-invalid': forgotPasswordForm.controls['email'].invalid,
        'is-valid': forgotPasswordForm.controls['email'].valid
      }"
    />
      -->



    <ngx-intl-tel-input       
    [selectedCountryISO]="selectedCountryISO" 
    [preferredCountries]="preferredCountries"
    [enableAutoCountrySelect]="false" 
    [enablePlaceholder]="true" 
    [searchCountryFlag]="true"
    customPlaceholder = "0709344574"
    [numberFormat]="PhoneNumberFormat.National"
    [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" 
    style="padding-right: calc(15.5em + 1.55rem)!important; padding-top: 0px;padding-bottom: 0px;" 
     class="form-control bg-transparent" type="tel"   id="phone" name="email" formControlName="email" autocomplete="off"
    [ngClass]="{
      'is-invalid': forgotPasswordForm.controls['email'].invalid,
      'is-valid': forgotPasswordForm.controls['email'].valid
    }"></ngx-intl-tel-input>

    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Number is required',
        control: forgotPasswordForm.controls['email']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'email',
        message: 'numero pas valide',
        control: forgotPasswordForm.controls['email']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'minLength',
        message: 'Number should have at least 3 symbols',
        control: forgotPasswordForm.controls['email']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'Number should have maximum 360 symbols',
        control: forgotPasswordForm.controls['email']
      }"
    ></ng-container>
  </div>
  <!--end::Form group-->
  <!--begin::Form group-->
  <div class="d-flex flex-wrap justify-content-center pb-lg-0">
    <button  *ngIf="ErrorSubmitted !== 'good'"
      type="submit"
      id="kt_password_reset_submit"
      class="btn btn-primary me-4"
    >
      <span   (click)="submit()"  class="indicator-label">Submit</span>
      <ng-container *ngIf="isLoading$ | async">
        <span class="indicator-progress">
          Please wait...
          <span
            class="spinner-border spinner-border-sm align-middle ms-2"
          ></span>
        </span>
      </ng-container>
    </button>
    <a  *ngIf="ErrorSubmitted !== 'good'"
      routerLink="/auth/login"
      id="kt_login_password_reset_form_cancel_button"
      class="btn btn-light"
    >
      Cancel
    </a>

  <a  *ngIf="ErrorSubmitted == 'good'"
    click="validate()"
    id="kt_login_password_reset_form_cancel_button"
    class="btn btn-light">
    Validation
  </a>
  </div>

  <!--end::Form group-->
</form>
<!--end::Form-->

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert">{{ message }}</span>
      </div>
    </div>
  </ng-container>
</ng-template>
