



  <app-spinnerlaod *ngIf="spinner" ></app-spinnerlaod>
  <div *ngIf="ActiveCompte">
    <div class="mb-lg-15 alert alert-success">
      <div class="alert-text font-weight-bold">
        Compte activer un mail a été envoyer
      </div>
    </div>
  </div>
<div  class="col-xl-12"  style="padding: 10px 24px;">
  <!-- begin::Header -->
  <div *ngIf="!spinner&&listeFournisseur" class="card card-xxl-stretch mb-5 mb-xl-8">
    <div class="card-header border-0 pt-5">
      <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-bolder fs-3 mb-1">Demande</span>
        <span class="text-muted mt-1 fw-bold fs-7"> {{UserTotals}} demande(s)</span>
      </h3>
      <div class="d-flex my-2">
        <div class="d-flex align-items-center position-relative me-4">
          <span
            [inlineSVG]="'./assets/media/icons/duotune/general/gen021.svg'"
            class="svg-icon svg-icon-3 position-absolute ms-3"
          ></span>
          <input
          style="width: 500px !important;"
            type="text"
            id="kt_filter_search"
            class="form-control form-control-white form-control-sm ps-9"
            placeholder="Entrer un nom"
            name="search"
            ng-model="search"
            (input)="onSearchChange($event)"
          />
        </div>
      </div>
      <!-- -->
      <!-- -->
      <!-- -->
      <!--
            <div
        class="card-toolbar"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        data-bs-trigger="hover"
        title="Clicker pour ajouter un utilisateur"
      >
        <a  routerLink="/apps/chat/adduser"  class="btn btn-sm btn-light-primary">
          <span
            [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'"
            class="svg-icon svg-icon-3"
          ></span>
          Nouveau utilisateur
        </a>
      </div>

      -->
    </div>
    <!-- end::Header -->
    <!-- begin::Body -->
    <div class="card-body py-3">
      <!-- begin::Table container -->

      <div class="table-responsive">
        <!-- begin::Table -->
        <div *ngIf="Users.length===0&&!spinner" style="font-weight:700;margin-left: 42%;margin-top: 10%;font-size:medium; color:black " > aucun element</div>

        <table
        *ngIf="Users.length>0"  class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4"
        >
          <!-- begin::Table head -->
          <thead>
            <tr class="fw-bolder text-muted">
              <th class="w-25px">
                <div
                  class="
                    form-check form-check-sm form-check-custom form-check-solid
                  "
                >
                        <!-- begin::Table head
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="1"
                    data-kt-check="true"
                    data-kt-check-target=".widget-9-check"
                  />-->
                </div>
              </th>
              <th class="min-w-150px">Nom & prenom</th>
              <th class="min-w-140px">Contact</th>
              <th class="min-w-120px">Email</th>
              <th class="min-w-120px">statut de la demande</th>
              <th class="min-w-120px">ville</th>
              <th class="min-w-120px">Lieu d'habitation</th>
              <th class="min-w-120px">Type de demande</th>
              <th class="min-w-100px text-end">Actions</th>
            </tr>
          </thead>
          <!-- end::Table head -->
          <!-- begin::Table body
          <div *ngIf="UserTotals===0">
            Aucune commande
          </div>-->
          <tbody>
            <tr *ngFor="let user of Users  | paginate: { itemsPerPage: 6, currentPage: page,totalItems:count}; let i=index">
              <td>
                <div
                  class="
                    form-check form-check-sm form-check-custom form-check-solid
                  "
                >
                <!-- end::Table head
                  <input
                    class="form-check-input widget-9-check"
                    type="checkbox"
                    value="1"
                  />-->
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <div class="d-flex justify-content-start flex-column">
                    <a  class="text-dark fw-bolder text-hover-primary fs-6">
                      {{user.nom}}
                    </a>
                  </div>
                </div>
              </td>
              <td>
                <a
                style="
                width: 150px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                "
                class="card-toolbar"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                data-bs-trigger="hover"
                title="{{user.numero}}"

                  class="text-dark fw-bolder text-hover-primary d-block fs-6"
                >
                {{user.numero}}
                </a>
              <!-- end::Table head -->
                <span class="text-muted fw-bold text-muted d-block fs-7">
                  Côte d'Ivoire
                </span>

              </td>
              <td class="text-end">
                <div class="d-flex flex-column w-100 me-2">
                  <div  class="d-flex flex-stack mb-2">
                    <a
                    style="
                    width: 120px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    "
                    class="card-toolbar"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    data-bs-trigger="hover"
                    title="{{user.email}}"
                    class="text-dark fw-bolder text-hover-primary fs-6">{{user.email}}</a>
                  </div>
                  <!-- begin::Table body
                  <div class="progress h-6px w-100">
                    <div
                      class="progress-bar bg-primary"
                      role="progressbar"
                      [style.width]="'50%'"
                    ></div>
                  </div>-->
                </div>
              </td>
              <td class="text-end">
                <div class="d-flex flex-column w-100 me-2">
                  <div class="d-flex flex-stack mb-2">
                    <a *ngIf="user.statut_demande==='accepter'"
                    class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
                     style="width: calc(1.5em + 4.1rem + 2px)
                     !important;  color:white;  background-color: #0DD311 !important;">
                     {{user.statut_demande}} </a>
                     <a *ngIf="user.statut_demande==='refuser'"
                     class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
                      style="width: calc(1.5em + 4.1rem + 2px)
                      !important;  color:white;  background-color: #D3170D !important;">
                      {{user.statut_demande}} </a>
                     <a *ngIf="user.statut_demande==='en attente'"
                     class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
                      style="width: calc(1.5em + 4.1rem + 2px)
                      !important;  color:white;  background-color: #D3A80D !important;">
                      {{user.statut_demande}} </a>
                  </div>
                  <!-- begin::Table body
                  <div class="progress h-6px w-100">
                    <div
                      class="progress-bar bg-primary"
                      role="progressbar"
                      [style.width]="'50%'"
                    ></div>
                  </div>-->
                </div>
              </td>
              <td class="text-end">
                <div class="d-flex flex-column w-100 me-2">
                  <div class="d-flex flex-stack mb-2">
                    <a  class="text-dark fw-bolder text-hover-primary fs-6">{{user.ville}}</a>
                  </div>

                  <!-- begin::Table body
                  <div class="progress h-6px w-100">
                    <div
                      class="progress-bar bg-primary"
                      role="progressbar"
                      [style.width]="'50%'"
                    ></div>
                  </div>-->
                </div>
              </td>
              <td class="text-end">
                <div class="d-flex flex-column w-100 me-2">
                  <div class="d-flex flex-stack mb-2">
                    <a
                        style="
                        width: 80px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        "
                    class="card-toolbar"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    data-bs-trigger="hover"
                    title="{{user.lieuHabitation}}"


                    class="text-dark fw-bolder text-hover-primary fs-6">{{user.lieuHabitation}}</a>
                  </div>

                  <!-- begin::Table body
                  <div class="progress h-6px w-100">
                    <div
                      class="progress-bar bg-primary"
                      role="progressbar"
                      [style.width]="'50%'"
                    ></div>
                  </div>-->
                </div>
              </td>
              <td class="text-end">
                <div class="d-flex flex-column w-100 me-2">
                  <div class="d-flex flex-stack mb-2">
                    <a
                    class="card-toolbar"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    data-bs-trigger="hover"
                    title="{{user.typeDemande}}"


                    class="text-dark fw-bolder text-hover-primary fs-6">{{user.typeDemande}}</a>
                  </div>

                  <!-- begin::Table body
                  <div class="progress h-6px w-100">
                    <div
                      class="progress-bar bg-primary"
                      role="progressbar"
                      [style.width]="'50%'"
                    ></div>
                  </div>-->
                   <!-- -->
                </div>
              </td>
              <td>
                <div class="d-flex justify-content-end flex-shrink-0">
                  <button (click)="changeView(user)"
                   class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
                   style="width: calc(1.5em + 4.1rem + 2px)!important;  color:white;  background-color: #0D8AD3 !important;">
                   Detail 
                  </button>
                  <div ngbDropdown>
                    <button class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1" id="gfg"
                            ngbDropdownToggle> <i class="fa fa-bars" aria-hidden="true"></i>
                          </button>
                    <div ngbDropdownMenu="gfg">
                      <button     *ngIf="user.statut_demande!=='accepter'&&user.statut_demande!=='refuser'" (click)="AccepteDemande(user)" ngbDropdownItem>Accepter la demande</button>
                      <button     *ngIf="user.statut_demande!=='accepter'&&user.statut_demande!=='refuser'" (click)="RefuseDemande(user)" ngbDropdownItem>Refuser la demande</button>
                      <button (click)="deleteDelete(user.id)" ngbDropdownItem>Supprimer la demande</button>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
          <!-- end::Table body -->
        </table>
        <div>
          <pagination-controls previousLabel="Prev" nextLabel="Next"(pageChange)="onTableDataChange($event)" ></pagination-controls>
        </div>
        <!-- end::Table -->
      </div>
      <!-- end::Table container -->
    </div>
    <!-- begin::Body -->
  </div>
    <div *ngIf="!spinner&&!listeFournisseur" class="card card-xxl-stretch mb-5 mb-xl-8">
      <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
          <button (click)="changeView('null')"
                   class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
                   style="width: calc(1.5em + 4.1rem + 2px)!important;  color:white;  background-color: #0DD3BF !important;">
                   Retour 
          </button>
        </h3>
        <div class="d-flex my-2">
          <div class="d-flex align-items-center position-relative me-4">
            <button *ngIf="fournisseurselected.statut_demande!=='accepter'&&fournisseurselected.statut_demande!=='refuser'" (click)="AccepteDemande(fournisseurselected)"
            class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
            style="width: calc(8.5em + 4.1rem + 2px)!important;  color:white;  background-color: #0DD3BF !important;">
            Accepter la demande 
            </button>
            <button *ngIf="fournisseurselected.statut_demande!=='accepter'&&fournisseurselected.statut_demande!=='refuser'" (click)="RefuseDemande(fournisseurselected)"
            class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
            style="width: calc(8.5em + 4.1rem + 2px)!important;  color:white;  background-color: #D3310D !important;">
            Refuser la demande 
            </button>
          </div>
        </div>
        <!-- -->
        <!-- -->
        <!-- -->

      </div>
      <!-- end::Header -->
      <!-- begin::Body -->
      <div class="card-body py-3">
        <!-- begin::Table container -->
  
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
          <li ngbNavItem>
            <a ngbNavLink>Informations personnelles</a>
            <ng-template ngbNavContent>
              <div  style="margin-left:5%; margin-top:5%;">
                <div style="margin-bottom:5%;" class="row">
                  <div  class="col-sm-3">
                    <p  style="font-weight: 600;" class="mb-0">Nom &amp; Prenom</p>
                  </div>
                  <div  class="col-sm-9">
                    <p style="
                    color: black !important;
                    font-weight: 500;
                " class="text-muted mb-0">{{fournisseurselected.nom}} {{fournisseurselected.prenom}}</p>
                  </div>
                </div>
                <div style="margin-bottom:5%;" class="row">
                  <div  class="col-sm-3">
                    <p  style="font-weight: 600;" class="mb-0">Contact</p>
                  </div>
                  <div  class="col-sm-9">
                    <p style="
                    color: black !important;
                    font-weight: 500;
                "class="text-muted mb-0">{{fournisseurselected.numero}}</p>
                  </div>
                </div>
                <div style="margin-bottom:5%;" class="row">
                  <div  class="col-sm-3">
                    <p  style="font-weight: 600;" class="mb-0">Email</p>
                  </div>
                  <div  class="col-sm-9">
                    <p style="
                    color: black !important;
                    font-weight: 500;
                "class="text-muted mb-0">{{fournisseurselected.email}}</p>
                  </div>
                </div>
                <div style="margin-bottom:5%;" class="row">
                  <div  class="col-sm-3">
                    <p  style="font-weight: 600;" class="mb-0">Ville</p>
                  </div>
                  <div  class="col-sm-9">
                    <p style="
                    color: black !important;
                    font-weight: 500;
                "class="text-muted mb-0">{{fournisseurselected.ville}}</p>
                  </div>
                </div>
                <div style="margin-bottom:5%;" class="row">
                  <div  class="col-sm-3">
                    <p  style="font-weight: 600;" class="mb-0">Lieu d'habitation</p>
                  </div>
                  <div  class="col-sm-9">
                    <p style="
                    color: black !important;
                    font-weight: 500;
                "class="text-muted mb-0">{{fournisseurselected.lieuHabitation}}</p>
                  </div>
                </div>
                <div  *ngIf="fournisseurselected.typeDemande=='fournisseur'" style="margin-bottom:5%;" class="row">
                  <div  class="col-sm-3">
                    <p  style="font-weight: 600;" class="mb-0">Nom de la banque</p>
                  </div>
                  <div  class="col-sm-9">
                    <p style="
                    color: black !important;
                    font-weight: 500;
                "class="text-muted mb-0">{{fournisseurselected.nomBanque}}</p>
                  </div>
                </div>
                <div  *ngIf="fournisseurselected.typeDemande=='fournisseur'" style="margin-bottom:5%;" class="row">
                  <div  class="col-sm-3">
                    <p  style="font-weight: 600;" class="mb-0">Numero de compte</p>
                  </div>
                  <div  class="col-sm-9">
                    <p style="
                    color: black !important;
                    font-weight: 500;
                "class="text-muted mb-0">{{fournisseurselected.numeroBancaire}}</p>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink>Informations professionnelles</a>
            <ng-template ngbNavContent>
              <div  style="margin-left:5%; margin-top:5%;">
                <div *ngIf="fournisseurselected.typeDemande=='fournisseur'" style="margin-bottom:5%;" class="row">
                  <div  class="col-sm-3">
                    <p  style="font-weight: 600;" class="mb-0">Emplacement de la boutique</p>
                  </div>
                  <div  class="col-sm-9">
                    <p class="text-muted mb-0">{{fournisseurselected.boutiquelieu}}</p>
                  </div>
                </div>
                <div style="margin-bottom:5%;" class="row">
                  <div  class="col-sm-3">
                    <p  style="font-weight: 600;" class="mb-0">Personne physique ou Morale</p>
                  </div>
                  <div  class="col-sm-9">
                    <p style="
                    color: black !important;
                    font-weight: 500;
                "class="text-muted mb-0">{{fournisseurselected.typerPersonne}}</p>
                  </div>
                </div>
                <div *ngIf="fournisseurselected.typeDemande=='fournisseur'" style="margin-bottom:5%;" class="row">
                  <div  class="col-sm-3">
                    <p  style="font-weight: 600;" class="mb-0">Nom &amp; Prenom du gerant</p>
                  </div>
                  <div  class="col-sm-9">
                    <p class="text-muted mb-0">{{fournisseurselected.nomGerant}}</p>
                  </div>
                </div>

              <!--  <div *ngIf="fournisseurselected.typeDemande=='Transporteur'" style="margin-bottom:5%;" class="row">
                  <div  class="col-sm-3">
                    <p  style="font-weight: 600;" class="mb-0">Nom &amp; Prenom du chauffeur</p>
                  </div>
                  <div  class="col-sm-9">
                    <p class="text-muted mb-0">{{fournisseurselected.nomGerant}}</p>
                  </div>
                </div> -->

                <div *ngIf="fournisseurselected.typeDemande=='Transporteur'"  style="margin-bottom:5%;" class="row">
                  <div  class="col-sm-3">
                    <p  style="font-weight: 600;" class="mb-0">Type</p>
                  </div>
                  <div  class="col-sm-9">
                    <p style="
                    color: black !important;
                    font-weight: 500;
                "class="text-muted mb-0">{{fournisseurselected.engin}}</p>
                  </div>
                </div>
                <div *ngIf="fournisseurselected.typeDemande=='fournisseur'" style="margin-bottom:5%;" class="row">
                  <div  class="col-sm-3">
                    <p  style="font-weight: 600;" class="mb-0">Type de produit </p>
                  </div>
                  <div  class="col-sm-9">
                    <p class="text-muted mb-0">{{fournisseurselected.typeVente}}</p>
                  </div>
                </div>
                <div *ngIf="fournisseurselected.typeDemande=='fournisseur'" style="margin-bottom:5%;" class="row">
                  <div  class="col-sm-3">
                    <p  style="font-weight: 600;" class="mb-0">Categorie de produit</p>
                  </div>
                  <div  class="col-sm-9">
                    <p class="text-muted mb-0">{{fournisseurselected.CategorieProduit}}</p>
                  </div>
                </div>

               <!--  <div *ngIf="fournisseurselected.typeDemande=='Transporteur'" style="margin-bottom:5%;" class="row">
                  <div  class="col-sm-3">
                    <p  style="font-weight: 600;" class="mb-0">Engin pour la livraison</p>
                  </div>
                  <div  class="col-sm-9">
                    <p class="text-muted mb-0">{{fournisseurselected.typeVente}}</p>
                  </div>
                </div>-->

              <!--  <div *ngIf="fournisseurselected.typeDemande=='Transporteur'&&fournisseurselected.engin!=='Livreur'" style="margin-bottom:5%;" class="row">
                  <div  class="col-sm-3">
                    <p  style="font-weight: 600;" class="mb-0">Poids</p>
                  </div>
                  <div  class="col-sm-9">
                    <p class="text-muted mb-0">{{fournisseurselected.CategorieProduit}}</p>
                  </div>
                </div>   -->

                <div *ngIf="fournisseurselected.typeDemande=='fournisseur'" style="margin-bottom:5%;" class="row">
                  <div  class="col-sm-3">
                    <p  style="font-weight: 600;" class="mb-0">Numero du gerant</p>
                  </div>
                  <div  class="col-sm-9">
                    <p class="text-muted mb-0">{{fournisseurselected.numeroGerant}}</p>
                  </div>
                </div>

                <!--<div *ngIf="fournisseurselected.typeDemande=='Transporteur'"  style="margin-bottom:5%;" class="row">
                  <div  class="col-sm-3">
                    <p  style="font-weight: 600;" class="mb-0">Numero du chauffeur</p>
                  </div>
                  <div  class="col-sm-9">
                    <p class="text-muted mb-0">{{fournisseurselected.numeroGerant}}</p>
                  </div>
                </div> -->

              </div>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink>Fichier Joint</a>
            <ng-template ngbNavContent>
              <div  style="margin-left:5%; margin-top:5%;">
                <div style="margin-bottom:5%;" class="row">
                  <div  class="col-sm-3">
                    <p  style="font-weight: 600;" class="mb-0">Pièce d'identité</p>
                  </div>
                  <div  class="col-sm-9">
                    <a   (click)="ViewFile(fileurl+fournisseurselected.urlCni,'')"
                    class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
                    style="font-weight: 600;width: calc(3.5em + 4.1rem + 2px)!important;  color:white;  background-color: #1656AB88 !important;">
                      Voir 
                    </a>
                  </div>
                </div>
                <div *ngIf="fournisseurselected.typeDemande=='fournisseur'" style="margin-bottom:5%;" class="row">
                  <div  class="col-sm-3">
                    <p  style="font-weight: 600;" class="mb-0">Déclaration fiscale</p>
                  </div>
                  <div  class="col-sm-9">
                    <a   (click)="ViewFile(fileurl+fournisseurselected.urlDfe,'')"
                    class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
                    style="font-weight: 600;width: calc(3.5em + 4.1rem + 2px)!important;  color:white;  background-color: #1656AB88 !important;">
                      Voir 
                    </a>
                  </div>
                </div>
                <!--<div *ngIf="fournisseurselected.typeDemande=='Transporteur'" style="margin-bottom:5%;" class="row">
                  <div  class="col-sm-3">
                    <p  style="font-weight: 600;" class="mb-0">Permis de conduire</p>
                  </div>
                  <div  class="col-sm-9">
                    <a   (click)="ViewFile(fileurl+fournisseurselected.urlRegistre,'')"
                    class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
                    style="font-weight: 600;width: calc(3.5em + 4.1rem + 2px)!important;  color:white;  background-color: #1656AB88 !important;">
                      Voir 
                    </a>  
                  </div>
                </div>-->
                <div *ngIf="fournisseurselected.typeDemande=='fournisseur'" style="margin-bottom:5%;" class="row">
                  <div  class="col-sm-3">
                    <p  style="font-weight: 600;" class="mb-0">Registre de commerce </p>
                  </div>
                  <div  class="col-sm-9">
                    <a   (click)="ViewFile(fileurl+fournisseurselected.urlRegistre,'')"
                    class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
                    style="font-weight: 600;width: calc(3.5em + 4.1rem + 2px)!important;  color:white;  background-color: #1656AB88 !important;">
                      Voir 
                    </a>  
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
        <!-- end::Table container -->
      </div>
      <!-- begin::Body -->
      </div>
</div>

