<div class="card mb-5 mb-xl-10">
  <div
    class="card-header border-0 cursor-pointer"
    role="button"
    data-bs-toggle="collapse"
    data-bs-target="#kt_account_profile_details"
    aria-expanded="true"
    aria-controls="kt_account_profile_details"
  >
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Informations de connexion</h3>
    </div>
  </div>
  <div id="kt_account_profile_details" class="collapse show">
    <form novalidate="novalidate" [formGroup]="AddUserForm" (ngSubmit)="saveSettings()">
      <div class="card-body border-top p-9">
        <div class="row mb-6">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            ><span class="required">Numero</span></label
          >
          <div class="col-lg-8 fv-row">
            <input
              type="tel"
              class="form-control form-control-lg form-control-solid"
              placeholder="Contact"
              name="phone"
              formControlName="phone"
            />
            <div *ngIf="errorfeildPhone" style="color:red" >
              Ajouter un numero
            </div>
          </div>
        </div>

        <div class="row mb-6">
          <label class="col-lg-4 col-form-label required fw-bold fs-6"
            >Mot de passe</label>
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-6 fv-row">
                <input
                  type="text"
                  class="
                    form-control form-control-lg form-control-solid
                    mb-3 mb-lg-0"
                  placeholder="Nouveau mot de passe"
                  formControlName="pass1"
                  name="pass1"
                />
                <div *ngIf="errorfeildpass1" style="color:red" >
                  Ajouter un mot de passe
                </div>
              </div>
              <div class="col-lg-6 fv-row">
                <input
                  type="text"
                  class="form-control form-control-lg form-control-solid"
                  placeholder="Confirmer le mot de passe"
                  formControlName="pass2"
                  name="pass2"
                />
                <div *ngIf="errorfeildpass2" style="color:red" >
                  confirmer le mot de passe
                </div>
              </div>
            </div>
          </div>
        </div>
<!--
        <div class="row mb-0">
          <label class="col-lg-4 col-form-label fw-bold fs-6"
            >Donner des autorisations</label>
          <div class="col-lg-8 d-flex align-items-center">
            <div class="form-check form-check-solid form-switch fv-row">
              <input
              #saveUserNameCheckBox
              id="saveUserNameCheckBox"
              type="checkbox"
              [checked]="saveUsername"
              (change)="AccesCompte(saveUserNameCheckBox.checked)"
                class="form-check-input w-45px h-30px"
                type="checkbox"
              /><label class="form-check-label"></label>
            </div>
          </div>
        </div>
 -->
        <br/>
        <div *ngIf="stateinfo">
          <div class="mb-lg-15 alert alert-danger">
            <div class="alert-text font-weight-bold">
              {{message}}
            </div>
          </div>
        </div>
        <div *ngIf="success">
          <div class="mb-lg-15 alert alert-success">
            <div class="alert-text font-weight-bold">
              {{message}}
            </div>
          </div>
        </div>
        <div *ngIf="passewordgood">
          <div class="mb-lg-15 alert alert-danger">
            <div class="alert-text font-weight-bold">
              Les mots de passe sont pas identiques
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button alert-success
          type="button"
          class="btn btn-primary"
          [disabled]="isLoading"
          [disabled]="allreadyexiste"
          (click)="saveSettings()"
        >
          <ng-container *ngIf="!isLoading">Enregistrer</ng-container>
          <ng-container *ngIf="isLoading">
            <span clas="indicator-progress" [style.display]="'block'">
              Patientez...{{ " " }}
              <span
                class="spinner-border spinner-border-sm align-middle ms-2"
              ></span>
            </span>
          </ng-container>
        </button>
      </div>
    </form>
  </div>
</div>




