


<div *ngIf="isListe==true" class="col-xl-12" style="padding: 10px 24px;">
  <!-- begin::Header -->
  <div class="card card-xxl-stretch mb-5 mb-xl-8">
    <div class="card-header border-0 pt-5">
      <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-bolder fs-3 mb-1">Produits</span>
        <span class="text-muted mt-1 fw-bold fs-7"> {{UserTotals}} produit (s)</span>
      </h3>
      <div class="d-flex my-2">
        <div class="d-flex align-items-center position-relative me-4">
          <span
            [inlineSVG]="'./assets/media/icons/duotune/general/gen021.svg'"
            class="svg-icon svg-icon-3 position-absolute ms-3"
          ></span>
          <input
          style="width: 500px !important;"
            type="text"
            id="kt_filter_search"
            class="form-control form-control-white form-control-sm ps-9"
            placeholder="Entrer une description"
            name="search"
            ng-model="search"
            (input)="onSearchChange($event)"
          />
        </div>
      </div>
      <div *ngIf="users.data.role==='admin'"
        class="card-toolbar"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        data-bs-trigger="hover"
        title="Clicker pour ajouter une publicité"
      >
        <a  routerLink="/apps/chat/add-vente/newvente"  class="btn btn-sm btn-light-primary">
          <span
            [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'"
            class="svg-icon svg-icon-3"
          ></span>
          Nouveaux produit
        </a>
      </div>

    </div>
    <!-- end::Header -->
    <!-- begin::Body -->
    <div class="card-body py-3">
      <!-- begin::Table container -->
      <div class="table-responsive">
        <!-- begin::Table -->
        <div *ngIf="UserTotals===0" style="font-weight:700;margin-left: 42%;margin-top: 10%;font-size:medium; color:black " > aucun element</div>

        <table *ngIf="UserTotals>0"
          class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4"
        >
          <!-- begin::Table head -->
          <thead>
            <tr class="fw-bolder text-muted">
              <th class="w-25px">
                <div
                  class="
                    form-check form-check-sm form-check-custom form-check-solid
                  "
                >
                        <!-- begin::Table head
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="1"
                    data-kt-check="true"
                    data-kt-check-target=".widget-9-check"
                  />-->
                </div>
              </th>
              <th class="min-w-150px">Image</th>
              <th class="min-w-140px">Produit</th>
              <th class="min-w-120px">Type de produits</th>
              <th class="min-w-120px">Fourisseur</th>
              <th class="min-w-120px">Montant</th>
              <th class="min-w-120px">Quantité Stock</th>

              <!--<th class="min-w-120px">Categorie</th> 
              <th class="min-w-120px">Enlevement</th>-->
              <!--<th class="min-w-120px">Date creation</th>-->
              <th  *ngIf="users.data.role==='admin'" class="min-w-100px text-end">Actions</th>
            </tr>
          </thead>
          <!-- end::Table head -->
          <!-- begin::Table body -->
          <tbody>
            <tr *ngFor="let user of Users  | paginate: { itemsPerPage: 6, currentPage: page,totalItems:count}; let i=index">
              <td>
                <div
                  class="
                    form-check form-check-sm form-check-custom form-check-solid
                  "
                >
                <!-- end::Table head
                  <input
                    class="form-check-input widget-9-check"
                    type="checkbox"
                    value="1"
                  />-->
                </div>
              </td>
              <td>
                <div class="align-items-center">
                  <div class="symbol symbol-45px me-5">
                    <img src="{{profilurl}}/{{user.urlImageVente}}" alt="{{user.urlImageVente}}" />
                  </div>
                </div>
              </td>
              <td>
                <a
                  routerLink="/apps/chat/update-vente/{{user.id}}"
                  class="text-dark fw-bolder text-hover-primary d-block fs-6"
                >
                {{user.produits}}
                </a>
              <!-- end::Table head -->
                <span class="text-muted fw-bold text-muted d-block fs-7">
                  {{user.prodloc =="null" ?"  ":user.prodloc}}
                </span>

              </td>
              <td class="text-end">
                <div class="d-flex flex-column w-100 me-2">
                  <div class="d-flex flex-stack mb-2">
                    <a routerLink="/apps/chat/update-vente/{{user.id}}" class="text-dark fw-bolder text-hover-primary fs-6">{{user.typeVente }}</a>
                  </div>
                  <!-- begin::Table body
                  <div class="progress h-6px w-100">
                    <div
                      class="progress-bar bg-primary"
                      role="progressbar"
                      [style.width]="'50%'"
                    ></div>
                  </div>-->
                </div>
              </td>
              <td class="text-end">
                <div class="d-flex flex-column w-100 me-2">
                  <div class="d-flex flex-stack mb-2">
                    <a routerLink="/apps/chat/update-vente/{{user.id}}" class="text-dark fw-bolder text-hover-primary fs-6">{{user.prod}}</a>
                  </div>
                  <!-- begin::Table body
                  <div class="progress h-6px w-100">
                    <div
                      class="progress-bar bg-primary"
                      role="progressbar"
                      [style.width]="'50%'"
                    ></div>
                  </div>-->
                </div>
              </td>

            <!-- 
              <td class="text-end">
                <div class="d-flex flex-column w-100 me-2">
                  <div class="d-flex flex-stack mb-2">
                    <a routerLink="/apps/chat/update-vente/{{user.id}}" class="text-dark fw-bolder text-hover-primary fs-6">{{user.cate}}</a>
                  </div>

                </div>
              </td>
            -->  

              <td class="text-end">
                <div class="d-flex flex-column w-100 me-2">
                  <div class="d-flex flex-stack mb-2">
                    <a  class="text-dark fw-bolder text-hover-primary fs-6">{{user.prix | number:'1.0-0'}} fr</a>
                  </div>
                </div>
              </td>
              <!--
              <td class="text-end">
                <div class="d-flex flex-column w-100 me-2">
                  <div class="d-flex flex-stack mb-2">
                    <a  class="text-dark fw-bolder text-hover-primary fs-6">{{user.enlevement}} fr</a>
                  </div>
                </div>
              </td>
              -->
              <td class="text-end">
                <div class="d-flex flex-column w-100 me-2">
                  <div class="d-flex flex-stack mb-2">
                    <a  class="text-dark fw-bolder text-hover-primary fs-6">{{user.quantite}} <span class="text-dark fw-bolder text-hover-primary fs-6" *ngIf="user.mesure=='kg'" > {{user.mesure}}</span></a> 
                  </div>
                  <!-- begin::Table body
                  <div class="progress h-6px w-100">
                    <div
                      class="progress-bar bg-primary"
                      role="progressbar"
                      [style.width]="'50%'"
                    ></div>
                  </div>-->
                </div>
              </td>

            <!-- 
              <td class="text-end">
                <div class="d-flex flex-column w-100 me-2">
                  <div class="d-flex flex-stack mb-2">
                    <a  class="text-dark fw-bolder text-hover-primary fs-6">{{user.created_at}}</a>
                  </div>
                </div>
              </td>
            -->  
              <td *ngIf="users.data.role==='admin'">
                <div class="d-flex justify-content-end flex-shrink-0">
                 <a
                 (click)="changeView(user)"
                    class="
                      btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                      me-1
                    "
                  >
                    <span
                      [inlineSVG]="
                        './assets/media/icons/duotune/general/gen021.svg'"
                      class="svg-icon svg-icon-3"
                    ></span>
                  </a>
                  <a
                  style="margin-left: 10px;"
                    routerLink="/apps/chat/update-vente/{{user.id}}"
                    class="
                      btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                      me-1
                    "
                  >
                    <span
                      [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"
                      class="svg-icon svg-icon-3"
                    ></span>
                  </a>
                  <a
                  style="margin-left: 10px;"
                    (click)="DeleteVente(user.id)"
                    class="
                      btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                    "
                  >
                    <span
                      [inlineSVG]="
                        './assets/media/icons/duotune/general/gen027.svg'
                      "
                      class="svg-icon svg-icon-3"
                    ></span>
                  </a>
                  
                </div>
              </td>
            </tr>
          </tbody>
          <!-- end::Table body -->
        </table>
        <div>
          <pagination-controls previousLabel="Prev" nextLabel="Next"(pageChange)="onTableDataChange($event)" ></pagination-controls>
        </div>
        <!-- end::Table -->
      </div>
      <!-- end::Table container -->
    </div>
    <!-- begin::Body -->
    </div>

</div>

<div *ngIf="isListe==false" class="col-xl-8" style="padding: 10px 24px;">
  <!-- begin::Header -->
  <div class="card card-xxl-stretch mb-5 mb-xl-8">
    <div class="card-header border-0 pt-5">
      <div
        class="card-toolbar"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        data-bs-trigger="hover"
        title="Retour"
      >
        <a (click)="changeView('')" class="btn btn-sm btn-light-primary">
          Retour
        </a>
      </div>

    </div>
    <!-- end::Header -->
    <!-- begin::Body -->
    <div class="card-body py-3">
      <!-- begin::Table container -->
      <div class="product-details">
        <img class="product-image" src="{{profilurl}}/{{venteSelected.urlImageVente}}" alt="{{venteSelected.urlImageVente}}">
        <div>
          <h2  style="text-transform: uppercase;">{{venteSelected.produits}}</h2>
          <p>Description : {{venteSelected.description}}</p>
          <p>Prix : {{venteSelected.prix | number:'1.0-0'}} FCFA  <span *ngIf="venteSelected.mesure !== 'null'">/ {{venteSelected.mesure}}</span> <span *ngIf="venteSelected.mesure == 'null'">/ unité</span> </p>
          <p>Lieu d'enlevement : {{venteSelected.enlevement}}</p>
          <p>Categorie : {{venteSelected.typeVente}}</p>
          <p>Sous-categorie : {{venteSelected.cate}}</p>
          <p>Localité du producteur : {{venteSelected.prodloc}}</p>
          <p>Ajouter le : {{venteSelected.created_at}}</p>
        </div>
      </div>
      <!-- end::Table container -->
    </div>
    <!-- begin::Body -->
    </div>

</div>