<div class="col-xl-12" *ngIf="userconnected.data.role =='Transporteur'" style="padding: 10px 24px;">
    <!-- begin::Header -->
    <div class="card card-xxl-stretch mb-5 mb-xl-8">
      <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label fw-bolder fs-3 mb-1">Service</span>
          <span class="text-muted mt-1 fw-bold fs-7"> {{UserTotals}} Service (s)</span>
        </h3>
        <div class="d-flex my-2">
          <div class="d-flex align-items-center position-relative me-4">
            <span
              [inlineSVG]="'./assets/media/icons/duotune/general/gen021.svg'"
              class="svg-icon svg-icon-3 position-absolute ms-3"
            ></span>
            <input
            style="width: 500px !important;"
              type="text"
              id="kt_filter_search"
              class="form-control form-control-white form-control-sm ps-9"
              placeholder="Entrer un label"
              name="search"
              ng-model="search"
              (input)="onSearchChange($event)"
            />
          </div>
        </div>
        <div
          class="card-toolbar"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          data-bs-trigger="hover"
          title="Clicker pour ajouter un service"
        >
          <a  routerLink="/apps/chat/add-service"  class="btn btn-sm btn-light-primary">
            <span
              [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'"
              class="svg-icon svg-icon-3"
            ></span>
            Nouveau service
          </a>
        </div>
  
      </div>
      <!-- end::Header -->
      <!-- begin::Body -->
      <div class="card-body py-3">
        <!-- begin::Table container -->
        <div class="table-responsive">
          <!-- begin::Table -->
          <div *ngIf="UserTotals===0" style="font-weight:700;margin-left: 42%;margin-top: 10%;font-size:medium; color:black " > aucun element</div>
  
          <table *ngIf="UserTotals>0"
            class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4"
          >
            <!-- begin::Table head -->
            <thead>
              <tr class="fw-bolder text-muted">
                <th class="min-w-150px">Lieu de depart</th>
                <th class="min-w-140px">Lieu d'arriver</th>
                <th class="min-w-120px">Quantité</th>
                <th class="min-w-120px">Disponibilité</th>
                <th class="min-w-120px">Date ajout</th>
              </tr>
            </thead>
            <!-- end::Table head -->
            <!-- begin::Table body -->
            <tbody>
              <tr *ngFor="let user of Users  | paginate: { itemsPerPage: 6, currentPage: page, totalItems:count}; let i=index">
                <td>
                    <a
                      class="text-dark fw-bolder text-hover-primary d-block fs-6"
                    >
                    {{user.lieudepart}}
                    </a>
                  </td>
                <td>
                  <a
                    class="text-dark fw-bolder text-hover-primary d-block fs-6"
                  >
                  {{user.destination}} 
                  </a>
                </td>
                <td>
                  <a
                    
                    class="text-dark fw-bolder text-hover-primary d-block fs-6"
                  >
                  {{user.quantite}} (Kg)
                  </a>
                </td>
                <td>
                  <a
                    class="text-dark fw-bolder text-hover-primary d-block fs-6"
                  >
                  {{user.disponibilite}}
                  </a>
                </td> 
                <td class="text-end">
                  <div class="d-flex flex-column w-100 me-2">
                    <div class="d-flex flex-stack mb-2">
                      <a  class="text-dark fw-bolder text-hover-primary fs-6">{{user.created_at}}</a>
                    </div>
                  </div>
                </td>
  
                <td>
                  <div class="d-flex justify-content-end flex-shrink-0">
                   <!-- <a
                      href="#"
                      class="
                        btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                        me-1
                      "
                    >
                      <span
                        [inlineSVG]="
                          './assets/media/icons/duotune/general/gen019.svg'
                        "
                        class="svg-icon svg-icon-3"
                      ></span>
                    </a>
                    <a
                      routerLink="/apps/chat/update-produit/{{user.id}}"
                      class="
                        btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                        me-1
                      "
                    >
                      <span
                        [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"
                        class="svg-icon svg-icon-3"
                      ></span>
                    </a>
                    <a
                      (click)="DeletesProduct(user.id)"
                      class="
                        btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                      "
                    >
                      <span
                        [inlineSVG]="
                          './assets/media/icons/duotune/general/gen027.svg'
                        "
                        class="svg-icon svg-icon-3"
                      ></span>
                    </a>-->
                  </div>
                </td>
              </tr>
            </tbody>
            <!-- end::Table body -->
          </table>
          <div>
            <pagination-controls previousLabel="Prev" nextLabel="Next"(pageChange)="onTableDataChange($event)" ></pagination-controls>
          </div>
          <!-- end::Table -->
        </div>
        <!-- end::Table container -->
      </div>
      <!-- begin::Body -->
      </div>
  
</div>

<div class="col-xl-12" *ngIf="userconnected.data.role =='admin'" style="padding: 10px 24px;">
  <!-- begin::Header -->
  <div class="card card-xxl-stretch mb-5 mb-xl-8">
    <div class="card-header border-0 pt-5">
      <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-bolder fs-3 mb-1">Service</span>
        <span class="text-muted mt-1 fw-bold fs-7"> {{UserTotals}} Service (s)</span>
      </h3>
      <div class="d-flex my-2">
        <div class="d-flex align-items-center position-relative me-4">
          <span
            [inlineSVG]="'./assets/media/icons/duotune/general/gen021.svg'"
            class="svg-icon svg-icon-3 position-absolute ms-3"
          ></span>
          <input
          style="width: 500px !important;"
            type="text"
            id="kt_filter_search"
            class="form-control form-control-white form-control-sm ps-9"
            placeholder="Entrer un label"
            name="search"
            ng-model="search"
            (input)="onSearchChange($event)"
          />
        </div>
      </div>
      <div
        class="card-toolbar"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        data-bs-trigger="hover"
        title="Clicker pour ajouter un service"
      >
        <a  routerLink="/apps/chat/add-service"  class="btn btn-sm btn-light-primary">
          <span
            [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'"
            class="svg-icon svg-icon-3"
          ></span>
          Nouveau service
        </a>
      </div>

    </div>
    <!-- end::Header -->
    <!-- begin::Body -->
    <div class="card-body py-3">
      <!-- begin::Table container -->
      <div class="table-responsive">
        <!-- begin::Table -->
        <div *ngIf="UserTotals===0" style="font-weight:700;margin-left: 42%;margin-top: 10%;font-size:medium; color:black " > aucun element</div>

        <table *ngIf="UserTotals>0"
          class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4"
        >
          <!-- begin::Table head -->
          <thead>
            <tr class="fw-bolder text-muted">
              <th class="min-w-150px">Lieu de depart</th>
              <th class="min-w-140px">Lieu d'arriver</th>
              <th class="min-w-120px">Quantité</th>
              <th class="min-w-120px">Disponibilité</th>
              <th class="min-w-120px">Flotte</th>
              <th class="min-w-120px">Date ajout</th>
            </tr>
          </thead>
          <!-- end::Table head -->
          <!-- begin::Table body -->
          <tbody>
            <tr *ngFor="let user of Users  | paginate: { itemsPerPage: 6, currentPage: page, totalItems:count}; let i=index">
              <td>
                  <a
                    class="text-dark fw-bolder text-hover-primary d-block fs-6"
                  >
                  {{user.lieudepart}}
                  </a>
                </td>
              <td>
                <a
                  class="text-dark fw-bolder text-hover-primary d-block fs-6"
                >
                {{user.destination}} 
                </a>
              </td>
              <td>
                <a
                  
                  class="text-dark fw-bolder text-hover-primary d-block fs-6"
                >
                {{user.quantite}} (Kg)
                </a>
              </td>
              <td>
                <a
                  class="text-dark fw-bolder text-hover-primary d-block fs-6"
                >
                {{user.disponibilite}}
                </a>
              </td> 
              <td>
                  <a
                    
                    class="text-dark fw-bolder text-hover-primary d-block fs-6"
                  >
                  {{user.cooperative}}
                  </a>
                </td> 
              <td class="text-end">
                <div class="d-flex flex-column w-100 me-2">
                  <div class="d-flex flex-stack mb-2">
                    <a  class="text-dark fw-bolder text-hover-primary fs-6">{{user.created_at}}</a>
                  </div>
                </div>
              </td>

              <td>
                <div class="d-flex justify-content-end flex-shrink-0">
                 <!-- <a
                    href="#"
                    class="
                      btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                      me-1
                    "
                  >
                    <span
                      [inlineSVG]="
                        './assets/media/icons/duotune/general/gen019.svg'
                      "
                      class="svg-icon svg-icon-3"
                    ></span>
                  </a>
                  <a
                    routerLink="/apps/chat/update-produit/{{user.id}}"
                    class="
                      btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                      me-1
                    "
                  >
                    <span
                      [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"
                      class="svg-icon svg-icon-3"
                    ></span>
                  </a>
                  <a
                    (click)="DeletesProduct(user.id)"
                    class="
                      btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                    "
                  >
                    <span
                      [inlineSVG]="
                        './assets/media/icons/duotune/general/gen027.svg'
                      "
                      class="svg-icon svg-icon-3"
                    ></span>
                  </a>-->
                </div>
              </td>
            </tr>
          </tbody>
          <!-- end::Table body -->
        </table>
        <div>
          <pagination-controls previousLabel="Prev" nextLabel="Next"(pageChange)="onTableDataChange($event)" ></pagination-controls>
        </div>
        <!-- end::Table -->
      </div>
      <!-- end::Table container -->
    </div>
    <!-- begin::Body -->
    </div>

</div>
  
  